@{ Layout = null; }
<!DOCTYPE html>
@{
    ViewBag.Title = "Header";
}

<h2 style="color:powderblue; font: bold 15pt Comic Sans MS; text-align: center;">Header, который будет на каждой странице документа</h2>
<hr style="color: powderblue; margin-bottom: 40px; border: none; height: 3px; background-color: powderblue;" />

